name: Build APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # ИЗМЕНЕНИЕ: Используем старую Ubuntu 22.04, так как на новой (latest) старый Flutter крашится
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Java 11 — единственная, которая стабильно работает с Flutter 3.16
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    # Flutter 3.16.9 — единственный, который пакует Flet 0.22.1 без ошибки "bundle not found"
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.16.9'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Flet
      run: |
        python -m pip install --upgrade pip
        pip install flet==0.21.2

    - name: Build APK
      run: |
        flet build apk --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
