name: Build APK
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.2' # <-- ЗОЛОТАЯ СЕРЕДИНА
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: |
        python -m pip install --upgrade pip
        pip install flet==0.24.1
    - run: flet build apk --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
